html , body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black ;
}
    .block{
        border: 2px solid black;
        background-color: rgb(200, 200,200);
        padding: 10px;
        letter-spacing: 0.1rem;
}